#header
  %h1
    %span#the The
    Chicago Shady Dealer
  %h2 Comedy Thrives in Darkness

#introduction
  %p
    Goddess, sing the hilarity of The University of Chicago's longest-lived satirical newspaper,
    %cite The Chicago Shady Dealer,
    sharp, witty, foul-mouthed, that gave the students countless chuckles, hurling down to the House of Laughs so many studious souls, great scholars' souls, but made their bodies quake with chortles&mdash;
  %p
    Ah, fuck it. Welcome to the
    %cite The Dealer's
    website.

  %p
    If the Muse on high comes to you with a sweet idea, or if you just want to be a part of a prestigious, highly credible publication, then get involved:
    %ul
      %li Feel free to attend our open meetings, 7 p.m. every Sunday in HM 145! Everyone and anyone is welcome.
      %li
        Join
        %cite The Dealer's
        %a{:href => "https://listhost.uchicago.edu/mailman/listinfo/shadydealer"} listhost!
      %li
        %a{:href => "mailto:chicagoshadydealer@gmail.com"} Send us
        your ideas and articles!

  %p We accept submissions from undergrads, grad students, faculty, alumni, administrators, staff and members of the community. If you are or were affiliated with the University in any way, then this is your forum.

#board
  %h3 Editors-in-Chief
  %ul
    %li Milena Pross
    %li Dan Lastres

  %h3 Managing Editor
  %p Nik Varley

  %h3 Layout Editor
  %p Breck Radulovic

  %h3 Chief Copy Editor
  %p Claire Holland

  %h3 Photo Editor
  %p Aubrey Christofersen

  %h3 Social Media Editor
  %p Jacob Johnson

  %h3 Webmaster
  %p Christopher Walker

  %h3 Director of Special Projects
  %p Teddy Zamborsky
