%header{:style => "height: 200px"}
  %h1
    Happy April Fools&rsquo; Day
    %span#from from
    %span#title The Chicago Shady Dealer!
  %h3 Choose your adventure:

#row1
  %a{:href => "/files/afd_2013/full/IOP_blood.jpg"} 
    %img{:src => "/files/afd_2013/thumb/IOP_blood.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/career_advancement.pdf"} 
    %img{:src => "/files/afd_2013/thumb/career_advancement.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/logan.jpg"} 
    %img{:src => "/files/afd_2013/thumb/logan.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/mab.pdf"} 
    %img{:src => "/files/afd_2013/thumb/mab.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/nightride.pdf"} 
    %img{:src => "/files/afd_2013/thumb/nightride.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/trauma.pdf"} 
    %img{:src => "/files/afd_2013/thumb/trauma.jpg", :width => 120, :style => "border: 1px solid #DDD"}

#row2
  %a{:href => "/files/afd_2013/full/dorms/Broadview.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/Broadview.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/BJ.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/BJ.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/MaxP.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/MaxP.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/Pierce.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/Pierce.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/Snell-Hitchcock.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/Snell-Hitchcock.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/South.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/South.jpg", :width => 120, :style => "border: 1px solid #DDD"}

  %a{:href => "/files/afd_2013/full/dorms/Stony.pdf"} 
    %img{:src => "/files/afd_2013/thumb/dorms/Stony.jpg", :width => 120, :style => "border: 1px solid #DDD"}

%footer
  //%img{:src => "/images/logo.jpg"}
  %span#enter_site
    %a{:href => "/articles"}
      Or just enter the site.
