body {
    margin: 0 auto;
    font-family: Bembo;
    font-size: 100%;
    min-width: 320px;
    p {
       font-size: 1em; 
    }
    
    header {
        height: 15%;
        width: 100%;
        border-bottom: 3px solid black;
        img {
            height: 98%;
            float: left;
        }
        h1 {
            font-family: NeoRetroDraw;
            font-size: 2.0em;
            float: left;
            margin: 0 auto;
            margin-left: -0.2em;
            word-wrap: break-word;
            height: 98%;
            width: 50%;
        }

        .rotate {
            font-family: NeoRetroShadow;
            font-size: 1.5em;
            float: left;
            position: relative;
            top: 0.7em;
            -webkit-transform: rotate(-90deg); 
            -moz-transform: rotate(-90deg);   
            margin: 0 auto;
        }

        h2 {
            background: #818181;
            font-family: Gotham;
            color: white;
            text-transform: uppercase;
            font-size: 0.7em;
            float: left;
            margin: 0 auto;
            margin-left: 3.7em;
            display: none;
        }
    }

    section {
        article {
            img {
                margin: 0 auto;
                padding: 0;
            }
            h1 {
                font-family: Gotham;
                font-size: 1.5em;
                margin: 10px 0 10px 0;
            }

            &#primary {
                h1 {
                    text-transform: uppercase;
                    margin: 10px 0 10px 0;
                    height: 30px;
                }
                img {
                    width: 90%;
                }
            }
            
            .byline {
                margin-left: 4px;
                font-style: italic;
                .writer {
                    font-style: normal;
                    font-variant: small-caps;
                }
            }

            p {
                max-width: 90%;
                width: 30em;
                text-align: justify;
                font-family: Bembo;
                font-size: 1em;
                margin-left: 4px;
            }
        }

        &#top_stories {
            float: left;
        }

        &#main {
            margin-left: 20px;
            margin-top: 5px;
            float: left;

            h1 {
                font-size: 1.25em;
            }
        }
    }
}