@import "bourbon/bourbon";
@import "neat/neat";
@import "fonts";
$mobile: new-breakpoint(max-width 500px 6);
$narrow: new-breakpoint(max-width 900px 12);
$visual_grid: true;

@mixin image-2x($image/*, $width, $height*/) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    /*background-size: $width $height;*/
  }
}

body {
    margin: 0 auto;
    font-family: "Cardo";
    line-height: 1.2em;
    font-size: 100%;
    #container {
        @include outer-container;
    }
    
    p {
       text-align: justify;
       font-family: "Cardo";
       line-height: 1.2em;
       font-size: 1em;
    }

    p a, ul li a {
        border-bottom: 1px dashed #ccc;
    }

    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: #646464;
        }
        &#continued {
            color: #818181;
            font-size: 0.8em;
            &#continued:hover {
                color: black;
            }
        }
    }
    
    header {
        @include span-columns(12);
        @include omega;
        
        a { 
            @include span-columns(12);
            @include omega;
            
            background-image: url('/images/header.png');
            @include image-2x("/images/header2x.png");
            
            background-position: left top;
            background-size: 101.5% auto;
            
            background-repeat: no-repeat;
            background-origin: content-box;
            -webkit-background-origin: content-box;
            
            img {
                width: 101.5%;
                visibility: hidden;
            }

        }

        h1, h2 {
            display: none;
        }
    }

    section {
        &#left {
            @include span-columns(6);
            @include media($mobile) {
                @include span-columns(6);
            }
            article {
                img {
                    @include span-columns(12);
                    margin-bottom: 5px;
                }
            }
        }
        &#right {
            @include span-columns(3);
            @include omega(3n);
            @include media($mobile) {
                @include span-columns(3);
            }

            h1 {
                font-family: NeoRetroDraw;
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
            }

            ul {
                border-bottom: 1px solid #ccc;
                margin: 0;
                padding: 0;
                list-style-type: none;
                
                margin-top: 1em;
                
                li {
                    color: black;
                    margin-bottom: 1em;
                    .byline {
                        display: inline;
                        /* float: left; */
                        color: #818181;
                        font-size: 0.8em;
                    }
                }
            }
            
            article {
                img {
                    @include span-columns(12);
                    margin-bottom: 5px;
                }
                h1 {
                    font-family: "Proxima Nova";
                    font-size: 1.25em;
                    border-bottom: none;
                }
            }
        }
        
        &#sidebar {
            @include span-columns(3);
            @include media($mobile) {
                @include span-columns(3);
            }
            
            article {
                img {
                    @include span-columns(12);
                }
            }
            
            h1 {
                font-size: 1.25em;
            }
        }
        
        article {
            h1 {
                font-family: "Proxima Nova";
                font-size: 1.3em;
                margin: 10px 0 10px 0;
                @include span-columns(12);
            }

            &.primary {
                h1 {
                    text-transform: uppercase;
                    margin: 10px 0 10px 0;
                    @include span-columns(12);
                }
                p {
                    @include span-columns(12);
                    -webkit-column-count: 2; 
                    -moz-column-count: 2; 
                    column-count: 2;
                }
            }
            
            &.secondary {
                @include span-columns(3 of 6);
            }

            .byline {
                @include span-columns(12);
                margin-bottom: 8px; 
                font-style: italic;
                .writer {
                    font-style: normal;
                    font-variant: small-caps;
                }
            }

            p {
                text-align: justify;
                font-family: "Cardo";
		line-height: 1.2em;
                font-size: 1em;
            }
        }
    }
    footer {
        @include span-columns(12);
        border-top: 1px solid #ccc;
        padding-top: 4px;
        font-family: "Proxima Nova";
        font-size: 0.8em;
        #copyright {
            @include span-columns(4);
        }
        #metapages {
            @include span-columns(4);
            text-align: center;
            a {
                padding-right: 10px;
            }
        }
        #powered_by {
            @include span-columns(4);
            text-align: right;
        }
    }
}

body#show {
    article {
        h1 {
            font-family: "Proxima Nova";
            font-size: 1.5em;
            line-height: 1.0em;
        }
        #byline {
            font-style: italic;
            .writer {
                font-style: normal;
            }
        }
        #body {
            @include span-columns(6);
            @include media($mobile) {
                @include span-columns(12);
            }
            text-align: justify;
            p {
            }
        }
        #images {
            @include span-columns(3);
            @include media($narrow) {
                @include span-columns(6 of 12);
            }
            @include media($mobile) {
                @include span-columns(6 of 6);
            }
            img {
                width: 100%;
            }
        }
        
        section#right {
            @include omega(2n);
            @include span-columns(6);
            @include media($narrow) {
                @include span-columns(6);
            }
            @include media($mobile) {
                @include span-columns(12);
            }
            
            h1 {
                font-family: NeoRetroDraw;
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
            }
            
            #in_the_news {
                @include span-columns(6);
                
                @include media($narrow) {
                    @include span-columns(12);
                }
                
                @include media($mobile) {
                    @include span-columns(12);
                }
                
            }
        }
    }
}

body#about {
    h2, h3 {
        font-family: "Proxima Nova";
        font-weight: bold;
    }
    #header {
        border-bottom: 1px solid #ccc;
        @include span-columns(12);
        text-align: jusify;
        h1 {
            #the {
                font-family: "NeoRetroShadow";
                clear: both;
                display: block;
                line-height: 1.2em;
            }
            font-family: "NeoRetroDraw";
            margin-bottom: 0.2em;
        }
        h2 {
            margin-top: 0;
            text-indent: 2px;
            font-size: 1.7em;
            letter-spacing: 3px;
        }
    }
    #introduction {
        @include span-columns(6);
    }
    #board {
        @include span-columns(3);
    }
    #writers {
        @include span-columns(3);
        @include omega;
    }
    #board, #writers {
        ul {
            list-style-type: none;
            padding: 0; 
        } 
    }
}

body#archive {
    h1#page_header {
        font-family: "Proxima Nova";
        margin-top: 100px;
    }
    @include span-columns(12);
    #archive_contents {
        @include span-columns(12);
        @include omega;
        h2 {
            font-family: "Proxima Nova";
            &:hover {
                color: #646464;
                cursor: pointer;
            }
        }
        .issues {
            display: none;
        }
        .issue {
            @include span-columns(6 of 12);
            @include omega(2n);
            @include media($narrow) {
                @include span-columns(12);
            }
            @include media($mobile) {
                @include span-columns(12);
            }
            
            .pdf {
                font-family: "Proxima Nova";
                font-size: 0.7em;
            }
            
            h3 {
                margin: 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                
                margin-top: 1em;
                
                li {
                    color: black;
                    margin-bottom: 1em;
                    .byline {
                        display: inline;
                        /* float: left; */
                        color: #818181;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}